<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <p class="masthead-brand" style="font-size: 23px"><b>WoolfieBot </b><sup>Beta</sup></p>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Documentation</a>
        <form action="/api/logout">
          <button type="submit" class="btn btn-sm ml-3" style="border: solid midnightblue; color: silver">LOG OUT</button>
        </form>
      </nav>
    </div>
  </header>